ErrorDocument 400 http://marco-restaurant.epizy.com/index.php?page=400
ErrorDocument 401 http://marco-restaurant.epizy.com/index.php?page=401
ErrorDocument 403 http://marco-restaurant.epizy.com/index.php?page=403
ErrorDocument 404 http://marco-restaurant.epizy.com/index.php?page=404
ErrorDocument 500 http://marco-restaurant.epizy.com/index.php?page=500
ErrorDocument 503 http://marco-restaurant.epizy.com/index.php?page=503